/target
/target/*
/**/*/target
/mc-mappings/mappings
mc-mappings/output.txt
/.idea
/.idea/*
crates/gen_src.rs
crates/map-gen/test.ron
crates/mc-mappings/mappings
/mappings
crates/mc-mappings/gen_src.rs
crates/map-gen/lookup.ron
